@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
:root{
  font-family: 'Poppins', sans-serif;
 
  color-scheme: light dark;
  --light-bg-color:rgba(255,255,255,0.87);
  --light-color:#242424;
  --dark-bg-color:#242424;
  --dark-color:#ffffff;
  --dark-input-bg-color:#1a1a1a;
  --light-input-bg-color:#efeff1;
  --60-color:#ffffff;
  --30-color:#f9f9f9;
  --10-color:#3B7097;
  --4-color:#FB8933;
  --bg-color:var(--light-bg-color);
  --color:var(--light-color);
  --input-color:var(--light-input-bg-color);
  background-color: var(--bg-color);
  color:var(--color);
  font-size:16px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration:none;
  color:var(--color);
  transition: all 0.3s;
}
.normalHover:hover{
  color:var(--4-color)
}
.coolLink{
  display: inline-block;
}
.coolLink::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--4-color);
  transition: width .3s;
}
.coolLink:hover::after{
  width: 100%;
}
li{
  list-style-type: none;
}
button{
  background-color: var(--4-color);
  border:none;
  outline: none;
  color:var(--60-color);
  font-size: 1.09rem;
  font-weight: 600;
  padding: 10px;
  border-radius:5px;
}
input{
  border: none;
  outline: none;
  background-color:var(--input-color);
  font-weight: 700;
  color: var(--color);
  padding: 10px;
  border-radius: 5px;
}
.alert-div{
  margin: 100px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);


}
.alert-deng{
  width: 50%;
  height: 70px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.alert-deng label{
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 20px;
}
.after-div-alert{
  width: 110%;
  height: 10px;
  background-color: #EF2B49;
  position: absolute;
  bottom: 0px;
 
}

@media (prefers-color-scheme: dark){
  :root{
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}




